.loginCard {
	margin: 40px auto;
	width: 45%;
	min-width: 22rem;
	min-height: 21rem;
	align-items: center;
	padding: 30px;
	margin-bottom: 50rem;
	background-color: white;
	border-radius: 40px;
	border: 4px solid rgba(0, 0, 0, 0.877);
}

.loginCard .Button {
	font-size: 1.2rem;
	width: 50%;
	max-width: 9rem;
	max-height: 4rem;
	min-width: rem;
	min-height: 2.3rem;
	border-radius: 1.4rem;
	font-weight: bold;
}
