.LoginCard {
	margin: 40px auto;
	width: 45%;
	min-height: 21rem;
	align-items: center;
	padding: 30px;
	margin-bottom: 50rem;
	background-color: white;
	border-radius: 40px;
	border: 10px solid rgba(128, 128, 128, 0.137);
}

.Button {
	font-size: 1vw;
	width: 50%;
}
