.MainRow {
	justify-content: center;
}

.MenuCrudMain {
	display: grid;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.Button {
	font-size: 2vw;
	width: 50%;
}
.listButtons {
	float: right;
}
.pensCRUD img {
	max-height: 8rem;
	float: left;
	aspect-ratio: 3/3;
	border-bottom: 1px solid rgba(92, 92, 92, 0.384);
	border-right: 2px solid rgba(0, 0, 0, 0.527);
	margin-right: 40px;
}
.pensCRUD {
	justify-content: center;
	text-align: center;
}
.description {
	justify-content: center;
	float: left;
	padding-top: 3.5rem;
}
