.homePensMain {
	display: block;
	align-items: center;
}
.pens {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(auto, 320px));
	grid-template-rows: 2fr;
	padding: 0 auto;
	justify-items: center;
	grid-gap: 30px;
	justify-content: center;
}
.card {
	display: flex;
	aspect-ratio: 3/3;
}
.paginationNumbers {
	margin-top: 10px;
	align-content: center;
	align-items: center;
	width: 100%;
}
.pagination {
	display: flex;
	justify-content: center;
	color: white;
	text-decoration: none;
	font-size: 1.4rem;
}
.pagination .page-num {
	cursor: pointer;
	border-radius: 3px;
	font-weight: 400;
	padding: 3px 4px;
	color: black;
	border: 2px solid grey;
	margin: 2px;
}
.pagination .page-num active {
	cursor: pointer;
	border-radius: 3px;
	font-weight: 400;
	padding: 3px 4px;
	color: black;
	background-color: chartreuse;
	border: 2px solid rgba(30, 255, 0, 0.397);
	margin: 2px;
}

.pagination .page-num:hover {
	background-color: rgba(165, 42, 42, 0.378);
	color: white;
}

.pens img {
	max-height: 400px;
	min-height: 200px;
	aspect-ratio: 3/3;
	border-bottom: 3px solid grey;
}
.FilterBar {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	align-self: center;
	justify-content: center;
}
.FilterBar div {
	width: 40%;
	float: left;
	padding-right: 10px;
}
.FilterBar Form {
	display: flex;
	justify-content: center;
}
.FilterButton {
	margin-top: 2rem;
	padding-right: 0;
	width: 10%;
}
.FilterButton img {
	max-width: 1.4rem;
	float: left;
	margin-top: 4px;
}
.FilterButton div p {
	margin: 0;
	padding: 0;
	text-align: justify;
}
